/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --text-font-weight: 400;
    --title-font-weight: 700;
    --main-background: #fff;
    --mix-blend-color:#fff;
    --accent-color: #000;
    --heart-color: #FF0000;
    --cover-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px), linear-gradient(#E7E7E7, #1A1A1A);

}